.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #007bff, #5cdb95);
  padding: 40px;
}

.forgot-password-form {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.forgot-password-form h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding and borders are included in width */
}

.form-group select {
  appearance: none; /* Removes the default browser style for the dropdown */
  background-color: white;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 16px; /* Larger and consistent with input font size */
  margin-top: 4px; /* Small space below the field */
}

button {
  /*width: 100%;*/
  padding: 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .forgot-password-form {
    padding: 30px;
  }

  .forgot-password-form h2 {
    font-size: 24px;
  }

  button {
    font-size: 14px;
  }
}
